go 1.25.0

use (
	./server
	./tui
	./libs/pluginsdk
	./examples/plugins/hello-world
	./examples/plugins/backtester
	./examples/plugins/monitor
	./examples/plugins/formulettes-runner
	./examples/plugins/ohlc-png
	./examples/plugins/formula-demo
)
